@font-face {
  font-family: 'AcuminPro';
  src: url('./fonts/Acumin-RPro.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.logo img{
  width: 15%;
  height: auto;
  padding: 3%;
}

.event-space img {
  width: 60%;
  height: auto;
  border: 5px solid #a8842c;
}

.about {
  display: flex; /* Make the container a flexbox */
  flex-direction: column; /* Arrange children in a column */
  justify-content: flex-start; /* Start content at the top */
  align-items: center; /* Center all content horizontally */
  width: 50%; /* Keep the existing width */
  height: auto; /* Keep height auto */
  border: 5px solid #a8842c; /* Keep existing border */
  background-color: #343838; /* Keep existing background color */
  padding: 2%; /* Keep existing padding */
  font-size: 100%; /* Keep existing font size */
  line-height: 200%; /* Keep existing line height */
  font-family: 'AcuminPro', sans-serif; /* Keep existing font family */
  text-align: center; /* Center text content */
}

.about p {
  margin-bottom: 20px; /* Add some margin to the text */
  width: 100%; /* Make sure the text takes full width */
  text-align: center; /* Center the text */
}

.about button {
  margin-top: auto; /* Push the button to the bottom */
  align-self: center; /* Center button horizontally */
}

.google-maps {
  padding: 2%;
}

.text {
  color: white; 
}